.mainmenubtn {
    background-color: grey;
    color: white;
    border: none;
    cursor: pointer;
    padding:10px;
    margin-top:20px;
    border-radius: 5px;

}
.mainmenubtn:hover {
    background-color: crimson;
    }
.dropdown {
    position: relative;
    display: inline-block;
    
}
.dropdown-child {
    display: none;
    background-color: grey;
    min-width: 100px;
    border-radius: 5px;
}
.dropdown-child a {
    color: white;
    padding: 15px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;

}
.bbio {
    text-decoration: none;
    font-weight: 700;
    padding: 5px;
    margin-left: 100px;
   
}

body {
    background-color: black;
    color: white;
    
}

.dark {
    background-color: white;
    color: black;
}


.img-con {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 150px;
    
    
}

img {
    width: 17em;
}




h4 {
    color: white;
}



     
    
